html, body {
font-family: "Poppins", sans-serif;
margin: 0;
box-sizing: border-box;
height: 100%;
overflow: hidden;
}
:root{
    --color-button:  #454545;


    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 1rem;
margin: 0;
position: relative; 
z-index: 2000; 
transition:all 0.1s ease;
}
.main {
    display: flex;
    align-items: center;       
    gap: 20px;                 
    padding-left: 2rem;   
    margin-left: 80px;     
}
.main .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;                
}
.main-text h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: black;            
}
.main-text p {
    margin: 0;
    font-size: 1rem;
    color: black;               
}
.main-1{
display: flex;
margin: 0;
gap: 40px;
align-items: center;

}
.main-1 li{
font-size: 1.7rem;
text-decoration: none;
list-style: none;
margin: 0;
}

.login{
font-size: 1.6rem;
margin: 0;
margin-right: 6rem;
padding: 18px;font-weight: 600;
padding: 18px;
background-color: rgb(224, 224, 224);
border-radius: 12px;
}
.main-1 li:hover {
font-size: 1.8rem;
font-weight: 600;
transform: translateY(-4px);
background-color:initial;
transition: var(--tran-04);
}

.login:hover{
padding: 18px;
background-color: rgb(133, 202, 237);
padding: 18px;
color: rgb(18, 2, 246);
text-decoration: underline;
transform: translateY(-4px);
border-radius: 12px;

}
.content{
display: flex;
height: 91.4%;
width: 100%;
}








