/* Quản Lý menu bar*/
.menu-bar-quanly{
    background-color: rgb(239, 240, 226);
    width: 20%;
    height: 100%;
}
nav {
  flex-shrink: 0;
}
nav ul { list-style: none;margin: 0;padding: 0;
 }
nav li {
  padding: 1.1rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255,.1);
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}
nav li:hover { background-color:rgb(213, 213, 213) ; 
transform: translateX(2px);}

nav li ul { display: none; background-color: var(--color-submenu-bg);}
nav li.open > ul { display: block; }
nav li ul li {
  padding: 0.4rem;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  transition: all .2s ease;
  gap: 5px;
}
nav li ul li:hover {
  background-color: var(--color-nav-hover);
  transform: translateX(5px);
}
nav ul li a { text-decoration: none; color: var(--color-header-text); }

/* Quản lý tài khoản */
.Quanly {
  display: flex;
  width: 100%;
  overflow-y: hidden;
}

.Quanly table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* căn giữa tất cả text trong table */
}

.Quanly th, .Quanly td {
  padding: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
  
}

.Quanly thead tr {
  background-color: #f0f0f0;
  font-weight: bold;
}

.Quanly tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.Quanly button {
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;
}

.Quanly .delete-btn {
  background-color: #e74c3c;
  color: white;
}

.Quanly .delete-btn:hover {
  background-color: #c0392b;
}
