
.story-sidebar {
  position: absolute;
  top: 16%;
  left: 180px;
  width: 550px;
  height: 40%;
  z-index: 1000;
  overflow: visible;
  border-radius: 0;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: transform 0.4s cubic-bezier(0.25,0.8,0.25,1);
}

.story {
  width: 800px;
  height: 28vh;
  border-radius: 20px;
  background: #8B4513;
  color: white;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.5;
  transform: scale(0.8);
}

.story.active {
  opacity: 1;
  transform: scale(1);
  transform: translateY(-40px);
}

.story::before {
  content: attr(data-index);
  position: absolute;
  top: 8px; /* lòi ra ngoài */
  left: 95%;   /* căn giữa ngang */
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255,255,255,0.9);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
}
