/* Transition */
:root{
    --color-button:  #454545;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
.slidebar{
    left: 0;
    height: 100%;
    width: 600px;  
    z-index: 1002;
    transition: var(--tran-02);
}
.slidebar.close{
    width: 104px;
    transition: var(--tran-02);
}
.slidebar.close .text{
    display: none;
}
.slidebar.close .content-home{
    display: none;
    transition: var(--tran-05);
}
.content-home{
    transition: var(--tran-04);
    
}
.slidebar.close .toggle{
    left: 3.2%;
    transition: var(--tran-04);
}
.slidebar.close .bx-chevron-right{
    display: flex;
}
.slidebar.close .bx-chevron-left{
    display: none;
}
.bx-chevron-right{
  display: none;
}
.slidebar .toggle{
    position: absolute;
    top: 50%;
    left: 22.4%;
    font-size: 40px;
    background-color: var(--color-button);
    border-radius: 50%;
    padding: 3px;
    justify-content: center;
    color: white;
    transition: var(--tran-04);
}

.slidebar li{
    margin: 5px;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 16px;
}
.slidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 27px;
    list-style: none;
    color: black;
    margin: 0;
}
.slidebar li a{
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    transition: var(--tran-03);
    border-radius: 16px;
}
.slidebar .search-box{
    background-color: rgb(235, 232, 232);
}
.slidebar button{
    font-size: 15px;
    margin-left: 5px;
}
.slidebar h1{
    margin: 0;
    font-size: 22px;
    margin-left: 5px;
    margin-top: 20px;
}
.search-box input{
    height: 30px;
    width: 350px;
    font-size: 18px;
    background-color: rgb(235, 232, 232);
    outline: none;
    border: none;
}

.slidebar.close li .icon:hover{
    transform: none;
    font-size: 40px;
    transition: var(--tran-03);
}

.menu-bar{
    border-right: solid 1px black;
    height: 100%;
    justify-content: center;
}
.content-home .star-remove{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
}
.content-home button{
    width: 95%;
    margin-left: 10px;
    background-color: var(--color-button);
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 6px;
}
.star-remove h2{
   width:  45%;
   text-align: center;
   font-size: 15px;
   padding: 10px 0;
   border-radius: 6px;
   color: white;
   margin-top: 30px;
   background-color: var(--color-button);
}
.status {
    margin-top: 5px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    font-style: italic;
    color: #555;
    text-align: center;
}
.statuss{
    position: absolute;
    top: 20%;
    left: 86%;
    margin-top: 5px;
    padding: 5px;
    background-color: wheat;
    border-radius: 4px;
    font-style: italic;
    color: #555;
    text-align: center;
    z-index: 1002;
    border: 6px;
}
